// Place all the styles related to the navigation bar here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.navigation-bar {
  position: relative;
  width: 100%;
  height: 4rem;
  background-color: $pale-green;
}

  .navigation-bar-link-home {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    display: inline-block;
    padding: 0.5rem 0;
    text-decoration: none;
    background-color: $black-green;
    color: $off-white;
    width: 8rem;
    text-align: center;
    font-size: 1rem;
    
    &:hover,
    &:focus {
      background-color: $off-white;
      color: $black-green;
    }
  }

  .navigation-bar-link-new {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    display: inline-block;
    padding: 0.5rem 0;
    text-decoration: none;
    background-color: $black-green;
    color: $off-white;
    width: 8rem;
    text-align: center;
    font-size: 1rem;
    
    &:hover,
    &:focus {
      background-color: $off-white;
      color: $black-green;
    }
  }