// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Creating Survey Page

.survey-edit-container {
  position: relative;
  margin: 0 auto;
  width: 30rem;
}

  .survey-edit-author-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
  }
  
    .survey-edit-author-text {
      position: relative;
      display: inline-block;
      width: 10rem;
      
      & label {
        font-size: 1rem;
      }
    }
    
    .survey-edit-author-input {
      position: relative;
      display: inline-block;
      
      & input {
        font-size: 1rem;
        width: 15rem;
      }
    }
    
  .survey-edit-title-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
  }
  
    .survey-edit-title-text {
      position: relative;
      display: inline-block;
      width: 10rem;
      
      & label {
        font-size: 1rem;
      }
    }
    
    .survey-edit-title-input {
      position: relative;
      display: inline-block;
      
      & input {
        font-size: 1rem;
        width: 15rem;
      }
    }
    
  .survey-edit-description-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
  }
  
    .survey-edit-description-text {
      position: relative;
      display: inline-block;
      width: 10rem;
      
      & label {
        font-size: 1rem;
      }
    }
    
    .survey-edit-description-input {
      position: relative;
      display: inline-block;
      
      & textarea {
        font-size: 1rem;
        width: 15rem;
      }
    }
    
  .survey-edit-question-published-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    
    & label {
      position: relative;
      display: inline-block;
      width: 10rem;
      font-size: 1rem;
    }
  }
  
    .survey-edit-question-text-container {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 2rem;
    }
  
      .survey-edit-question-text-title {
        position: relative;
        display: inline-block;
        width: 10rem;
        font-size: 1rem;
      }
      
      .survey-edit-question-input {
        position: relative;
        display: inline-block;
        
        & input {
          font-size: 1rem;
          width: 15rem;
        }
      }
    
    .survey-edit-question-description-container {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 2rem;
    }
  
      .survey-edit-question-description-text {
        position: relative;
        display: inline-block;
        width: 10rem;
        
         & label {
        font-size: 1rem;
        }
      }
      
      .survey-edit-question-description-input {
        position: relative;
        display: inline-block;
        
        & textarea {
          font-size: 1rem;
          width: 15rem;
        }
      }
      
    .survey-edit-question-type-container {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 2rem;
    }
  
      .survey-edit-question-type-text {
        position: relative;
        display: inline-block;
        width: 10rem;
        
         & label {
        font-size: 1rem;
        }
      }
      
      .survey-edit-question-type-dropdown {
        position: relative;
        display: inline-block;
        
        & select {
          font-size: 1rem;
          width: 15rem;
        }
      }
      
    .survey-edit-question-required-container {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 2rem;
      
      & label {
        position: relative;
        display: inline-block;
        width: 10rem;
        font-size: 1rem;
      }
    }
    
    .survey-edit-question-delete-container {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 2rem;
      
      & label {
        position: relative;
        display: inline-block;
        width: 10rem;
        font-size: 1rem;
      }
    }
    
  .survey-edit-create-survey-button {
    position: relative;
    text-align: center;
    
    & input {
      font-size: 1rem;
      padding: 0.5rem 2rem;
      border: 0;
      background-color: #00B479;
      color: #FBFBFB;
      
      &:hover,
      &:focus {
        background-color: #3F464D;
      }
    }
  }
  
//Listing Surveys

.survey-listing-table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .survey-listing-table th {
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: bold;
  }
  
  .survey-listing-table td {
    font-size: 0.7rem;
    padding: 0.5rem;
    
    & a {
      display: inline-block;
      background-color: #3F464D;
      color: #FBFBFB;
      padding: 0.5rem 0.7rem;
      font-size: 0.7rem;
      text-decoration: none;
      
      &:hover,
      &:focus {
        background-color: #00B479;
      }
    }
  }
  
  .survey-listing-table-body-rows:not(:last-child) {
    border-bottom: 1px solid black;
  }