// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SIGNUP PAGE

@import 'colors';

#error_explanation {
  font-family: Roboto, Helvetica, sans-serif;
  line-height: 1.4;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

label {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.signup-button {
  position: relative;
  left: 27%;
  display: block;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin-top: 1.5rem;
  border: 0;
  background-color: $green;
  color: $off-white;
  width: 8rem;
}

  .signup-button:hover {
      background-color: $black-green;
}

i {
  padding: .05rem;
  margin-left: 0.09rem;
}

.container {
  display: block;
  margin: 0 auto;
  width: 55%;
}

.page-title {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

// CREATING SURVEY PAGE

.survey-edit-page-title {
  position: fixed;
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  z-index: 10;
}

.survey-edit-container {
  position: relative;
  margin: 0 auto;
  width: 30rem;
  padding: 2rem 3rem;
}

  .survey-edit-title-description {
    position: fixed;
    z-index: 9;
    background-color: $dark-green;
    width: 24rem;
    padding: 6rem 1rem 1rem 1rem;
  }
  
  .survey-edit-title-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
  }

    .survey-edit-title-text {
      position: relative;
      display: block;

      & label {
        font-size: 1rem;
      }
    }

    .survey-edit-title-input {
      position: relative;
      display: block;

      & input {
        font-size: 1rem;
        width: 100%;
      }
    }

  .survey-edit-description-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }

    .survey-edit-description-text {
      position: relative;
      display: block;

      & label {
        font-size: 1rem;
      }
    }

    .survey-edit-description-input {
      position: relative;
      display: block;

      & textarea {
        font-size: 1rem;
        width: 100%;
      }
    }
  
  .unordered-list {
    margin-top: 20rem;
    z-index: 1;
  }

  .survey-edit-question-published-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;

    & label {
      position: relative;
      display: inline-block;
      width: 10rem;
      font-size: 1rem;
    }
  }
  
  .survey-edit-question-container {
    background-color: $pale-green;
    margin-bottom: 2rem;
  }

    .survey-edit-question-text-container {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 1rem;
    }

      .survey-edit-question-text-title {
        position: relative;
        display: inline-block;
        width: 10rem;
        font-size: 1rem;
      }

      .survey-edit-question-input {
        position: relative;
        display: block;

        & input {
          font-size: 1rem;
          width: 100%;
        }
      }

    .survey-edit-question-description-container {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 1rem;
    }

      .survey-edit-question-description-text {
        position: relative;
        display: inline-block;
        width: 100%;

         & label {
        font-size: 1rem;
        }
      }

      .survey-edit-question-description-input {
        position: relative;
        display: block;

        & textarea {
          font-size: 1rem;
          width: 100%;
        }
      }

    .survey-edit-question-type-container {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 1rem;
    }

      .survey-edit-question-type-text {
        position: relative;
        display: inline-block;
        width: 10rem;

         & label {
        font-size: 1rem;
        }
      }

      select {
        position: relative;
        display: inline-block;
        line-height: 1.5rem;
        width: 100%;
        font-size: 1rem;

      }

    .survey-edit-question-required-container { //same line with delete
      position: relative;
      display: inline-block;
      margin-left: 1rem;
      margin-right: 5rem;

      & label {
        position: relative;
        display: inline-block;
        font-size: 1rem;
      }

      & input {
        font-size: 2rem;
      }
    }

    .survey-edit-question-delete-container {
      position: relative;
      display: inline-block;
      width: 30%;
      margin-bottom: 1rem;

      & label {
        display: inline-block;
        font-size: 1rem;
      }

      & input {
        font-size: 2rem;
      }
    }

    .survey-edit-add {
      clear: both;
      position: relative;
      display: block;
      border: 0;
      margin: 0 auto;
      background-color: $black-green;
      padding: 0.5rem 2rem;
      color: $off-white;
      text-align: center;
      line-height: 1.5rem;
      font-size: 0.7rem;
      width: 9rem;

      &:hover,
      &:focus {
        background-color: $green;
      }
    }

  .survey-edit-create-survey-button {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;

    & input {
      font-size: 1rem;
      padding: 1.5rem;
      border: 0;
      background-color: $green;
      color: $off-white;

      &:hover,
      &:focus {
        background-color: $black-green;
      }
    }
  }



// SURVEY LISTING TABLE PAGE

.survey-listing-title {
  position: relative;
  display: block;
  margin-top: 6rem;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: 40464C;
}

.survey-listing-table {
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
}

  .survey-listing-table th {
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: bold;
  }

  .survey-listing-table td {
    font-size: 0.7rem;
    padding: 0.5rem;

    & a {
      display: inline-block;
      background-color: $black-green;
      color: $off-white;
      padding: 0.5rem 0.7rem;
      font-size: 0.7rem;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: $green;
      }
    }
  }

    .survey-listing-table-body-description {
      max-width: 20rem;
      word-wrap: break-word;
    }

  .survey-listing-table-body-rows:not(:last-child) {
    border-bottom: 1px solid $black-green;
  }



// SHOW SURVEY PAGE

.survey-show-container {
  position: relative;
  margin: 8rem auto 0 auto;
  width: 30rem;
}

  .survey-show-author-container {
    position: relative;
    display: block;
  }

    .survey-show-author-text {
      position: relative;
      display: inline-block;
      font-size: 1rem;
    }

    .survey-show-author-description {
      position: relative;
      display: inline-block;
      font-size: 1rem;
    }

  .survey-show-title-container {
    position: relative;
    display: block;
  }

    .survey-show-title-text {
      position: relative;
      display: inline-block;
      font-size: 1rem;
    }

    .survey-show-title-description {
      position: relative;
      display: inline-block;
      font-size: 1rem;
    }

  .survey-show-description-container {
    position: relative;
    display: block;
  }

    .survey-show-description-text {
      position: relative;
      display: inline-block;
      font-size: 1rem;
    }

    .survey-show-description-description {
      position: relative;
      display: inline-block;
      font-size: 1rem;
    }

  .survey-show-published-container {
    position: relative;
    display: block;
  }

    .survey-show-published-text {
      position: relative;
      display: inline-block;
      font-size: 1rem;
    }

    .survey-show-published-description {
      position: relative;
      display: inline-block;
      font-size: 1rem;
    }

    .survey-show-question-container {
      position: relative;
      display: inline-block;
      margin-bottom: 1rem;

      & label {
        font-size: 0.8rem;
      }
    }

      .survey-show-question-text {
        position: relative;
        display: inline-block;
        font-size: 1rem;
      }

      .survey-show-question-description {
        position: relative;
        display: inline-block;
        font-size: 0.8rem;
      }

      .survey-show-question-container {
        width: 100%;

        & textarea {
          position: relative;
          font-size: 0.7rem;
          width: 100%;
          height: 4rem;
        }

        & input[type="text"] {
          position: relative;
          font-size: 0.7rem;
          width: 100%;
          border: 0.1rem solid #797D85;
        }

        & input[type="radio"] {
          position: relative;
          font-size: 0.7rem;
          border: 0.1rem solid #797D85;
        }

        & input[type="checkbox"] {
          position: relative;
          font-size: 0.7rem;
          border: 0.1rem solid #797D85;
        }
      }

    .survey-show-submit-button {
      position: relative;
      display: block;
      text-align: center;

      & input {
        background-color: $green;
        color: $off-white;
        font-size: 1rem;
        padding: 0.5rem 3rem;
        border: 0;

        &:hover,
        &:focus {
          background-color: $black-green;
        }
      }
    }
